<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.bwie.com.cliuapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShowActivity" />
        <activity android:name=".activity.SeekActivity" />
        <activity android:name=".activity.LoginInfoActivity" />
        <activity android:name=".activity.ShoppingActivity" />
        <activity android:name=".activity.ResgiterActivity" />
        <activity android:name=".activity.AddShopCardActivity" />
        <activity android:name=".activity.DingDantActivity" />
        <activity android:name=".activity.PaymentListActivity"></activity>
    </application>

</manifest>